        <div id="left-side">
            <p><b>Not Done</b></p>
            <ul>
{{#each send}}
    {{#unless done}}
                <li>{{id}} {{namex}} <span> </span> <button class="a">x</button></li>
    {{/unless}}
{{/each}}
            </ul>
        </div>

        <div id="right-side">
            <p><b>Done</b></p>
            <ul>
{{#each send}}
    {{#if done}}
                <li>{{id}} {{namex}}</li>
    {{/if}}
{{/each}}
            </ul>
        </div>

