        <div id="left-side">
            <p><b>left Side</b></p>
            <ul>
{{#each send}}
    {{#unless done}}
                <li>{{namex}} <button class="a">X</button></li>
    {{/unless}}
{{/each}}
            </ul>
        </div>

        <div id="right-side">
            <p><b>right Side</b></p>
            <ul>
{{#each send}}
    {{#if done}}
                <li>{{namex}}</li>
    {{/if}}
{{/each}}
            </ul>
        </div>