{{#each send}}

    {{#if done}}

        <div id="right-side">
            <p><b>right Side</b></p>
            <ul>
                <li>{{namex}}</li>
            </ul>
        </div>

    {{else}}

        <div id="left-side">
            <p><b>Left Side</b></p>
            <ul>
                <li>{{namex}}</li>
            </ul>
        </div>

    {{/if}}

{{/each}}